@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --c-white: "#fffdfa";
  --c-off-white: hsl(36, 100%, 99%);
  --c-grayish-blue: hsl(233, 8%, 79%);
  --c-dark-grayish-blue: hsl(236, 13%, 42%);
  --c-very-dark-blue: hsl(240, 100%, 5%);
  --c-soft-orange: hsl(35, 77%, 62%);
  --c-soft-red: hsl(5, 85%, 63%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

html {
  font-size: 15px;
  background: hsl(48, 71%, 99%);
}

body {
  /* max-width: 1200px; */
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 4rem;
}

img {
  max-width: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.8;
  color: var(--c-dark-grayish-blue);
}

/* Header Styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 1rem;
}


.header .logo {
  width: auto;
}

/* .header nav{
 display: none;
} */


.header nav #menu-close {
  position: fixed;
  background: transparent;
  border: none;
  outline: none;
  right: 1.25rem;
  top: 1.25rem;
  z-index: 999999;
  right: 1.25rem;
}

.header nav {
  opacity: 0;
  z-index: -999;
  transition: all 0.3s ease-in-out;
}

.header nav.open {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 75vw;
  padding: 1.25rem;
  background: #fff;
  opacity: 1;
  z-index: 999999;
}

.header nav ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header nav ul li {
  margin: 1rem 0;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.header nav ul li:hover {
  color: var(--c-soft-red);
}

.header .menu-btn button {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.showcase {
  padding: 0 0 1.25rem 0;
}

.showcase h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--c-very-dark-blue);
  margin: 1rem 0;
}

.showcase div:first-child article p {
  margin-bottom: 1rem;
}

.showcase div:first-child button {
  background: var(--c-soft-red);
  color: #f9f9f9;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.showcase div:first-child button:hover {
  background: var(--c-very-dark-blue);
}

.showcase>div:last-child {
  background: var(--c-very-dark-blue);
  color: #fff;
  margin-top: 2rem;
  padding: 1.25rem 1.25rem 0;
}

.showcase>div:last-child h2 {
  color: var(--c-soft-orange);
  font-size: 2.6rem;
}

.showcase>div:last-child article {
  padding: 1.25rem 0;
}

.showcase>div:last-child article:not(:last-child) {
  border-bottom: 2px solid var(--c-dark-grayish-blue);
}

.showcase>div:last-child h3 {
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  transition: color 0.2s ease-in-out;
}

.showcase>div:last-child h3:hover {
  color: var(--c-soft-orange);
  cursor: pointer;
}

/* Cards styles */
.cards {
  padding: 1.25rem 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem;
}

.cards article {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.cards article img {
  width: 100px;
}

.cards article span {
  color: hsl(0, 0%, 62%);
  font-weight: 800;
  font-size: 2rem;
  opacity: 0.5;
}

.cards article h4 {
  font-size: 1.25rem;
  color: var(--c-very-dark-blue);
  margin: 1rem 0;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.cards article h4:hover {
  color: var(--c-soft-red);
}


@media (min-width: 768px) {

  .header {
    padding: 4.5rem 1rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }
}


@media (min-width: 1024px) {

  /* .header {
    padding: 2rem 1.25rem;
  } */
  .header {
    padding: 5.8rem 0 3.5rem 0;
  }

  .header nav {
    opacity: 1;
    z-index: auto;
  }

  .header nav.open {
    position: relative;
    width: auto;
    background-color: transparent;
    padding: 0;
    z-index: auto;
  }

  .header nav ul {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2.5rem;
    transform: translateY(0%);
  }

  .header nav ul li {
    margin: 0;
  }

  .header .menu-btn {
    display: none;
  }

  .header nav #menu-close {
    display: none;
  }

  .showcase {
    display: flex;
    gap: 2rem;
    width: 100%;
  }

  .showcase>div:first-child {
    width: 64vw;
  }

  .showcase>div:last-child {
    width: 30vw;
  }



  .showcase h1 {
    font-size: 3.5rem;
    margin: 0;
    margin: 0;
    line-height: 3.5rem;
    letter-spacing: 0.2rem;
  }

  .showcase>div:first-child article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-items: center;
    margin-top: 2rem;
  }

  .showcase>div:last-child {
    margin-top: 0.5rem;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 768px) {
  body{
    width: 100%;
  }
  .wrapper {
    padding: 0 1.25rem;
  }

  .showcase h1 {
    font-size: 2.7rem;
    margin: 1.5rem 0 0.5rem 0;
    line-height: 3rem;
  }

  .showcase>div:last-child {
    margin-top: 5rem;
  }

  .cards {
    padding: 6rem 0 1.25rem 0;
    gap: 1.2rem;
  }
}